@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
.app{
  background-color: #3A389C;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;

}


.app  img{
  width: 50rem;
}

.btn button{
  background-color: #EE6C6B;
  display: inline;
  border: none;
  border-radius: 5rem;
  outline: none;
  padding: 2rem 8rem;
  color: white;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  text-decoration: none;

}

.btn button:hover{
  cursor: pointer;
  transform: scale(1.05);
}

a{
  color: white;
  text-decoration: none;
}